body{
  min-width:320px;
  max-width: 1000px;
  margin: auto;
}

header{
  background-color: whitesmoke;
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
  font-weight: bolder;


}

div a{
  text-decoration: none;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  color: black;
  font-size: 16px;
  border-radius: 5px;
}

a:hover{
  background-color: rgb(231, 228, 228);
  
}



.corpo{
  width: 1111px;
  margin:auto;

}

h1{
  font-family: 'Franklin Gothic Medium', 'Helvetica', Arial, sans-serif
}

h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  color:rgb(74, 67, 67);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  max-width: 1200px;
  margin: auto; 
  width: 100%;

}


#lista{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

table{
  transition: 1s;
}

table:hover{ 
    
    transition: 1s; 
    background-color:black; 
    color: white;
    }

    .container {
        position: relative;
        overflow: hidden;
        width: 400px;
        margin: 100px;
      }
      .container img {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }
      .container:hover img {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }

      
